<div class="container">
    <div class="row">
        <div class="col-md-6-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/user.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Facundo Alavar</h5>
                    <p class="card-text">Administrador</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header bg-info">
                    <h3 class="card-title text-light">Editar informacion</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="user">Usuario</label>
                                <input type="text" name="user" id="user" class="form-control" placeholder="Usuario">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Nombres</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Nombres">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="apellido">Apellidos</label>
                                <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Apellidos">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="reemail">Repetir email</label>
                                <input type="email" name="reemail" id="reemail" class="form-control" placeholder="Repetir email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="repassword">Repetir Contraseña</label>
                                <input type="password" name="repassword" id="repassword" class="form-control" placeholder="Repetir contraseña">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="telefono">Telefono</label>
                                <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Telefono">
                            </div>
                            <div class="form-group col-md-8">
                                <label for="direccion">Direccion</label>
                                <div class="form-row">
                                    <div class="col-9">
                                        <input type="text" name="calle" id="calle" class="form-control" placeholder="Calle">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" name="numero" id="numero" class="form-control" placeholder="Numero">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-paperclip"></i> Cambiar imagen</button>
                            </div>
                        </div>
                        <button class="btn btn-info btn-lg float-right"><i class="fa fa-check"></i> Actualizar Perfil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>