<table class="table table-bordered table-hover">
    <thead class="table-borderless" class="">
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categoria</th>
            <th scope="col">Sub Categoria</th>
            <th scope="col">Marca</th>
            <th scope="col">Genero</th>
            <th scope="col">Habilitado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody class="table-borderless">
        <tr>
            <th scope="row">1</th>
            <td>156551</td>
            <td>Botin Reves Hockey de Mujer Venlo Rosa</td>
            <td>Calzado</td>
            <td>Botines</td>
            <td>Mujer</td>
            <td>SI</td>
            <td><button class="btn btn-secondary btn-sm"><i class="fas fa-tools"></i></button></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>F36202</td>
            <td>Zapatillas Adidas Runfalcon Rojas De hombre</td>
            <td>Calzado</td>
            <td>Zapatilas</td>
            <td>Hombre</td>
            <td>SI</td>
            <td><button class="btn btn-secondary btn-sm"><i class="fas fa-tools"></i></button></td>
        </tr>
    </tbody>
</table>